# Ignorar las dependencias de Node
/node_modules

# Ignorar la carpeta de compilación/distribución
/dist

# Ficheros de sistema operativo
.DS_Store
Thumbs.db

# Ficheros de log
npm-debug.log*

# Pruebas de actualizaciones
dev-app-update.yml

google-credentials.json