<!-- automation-analyzer.html -->
<div id="automation-analyzer-section" class="section">
    <div class="section-header">
        <button id="automationAnalyzerBackBtn" class="back-button">← Volver a la lista</button>     
        <div class="header-actions">
        <button id="downloadAutomationPdfBtn" class="action-button activate-btn">Generar Documentación (PDF)</button>
    </div>       
    </div>
    <h2>Análisis de Impacto: <span id="analyzerAutomationNameTitle" style="color: #558ac7;"></span></h2>

    <div class="config-section-container">
        <div class="config-block">
            <h3>Estructura y Uso de Actividades</h3>
            <p>A continuación se muestran las actividades de este automatismo y si se están reutilizando en otros automatismos.</p>
            
            <div id="automationAnalyzerStepsContainer">
                <!-- Se rellena dinámicamente -->
            </div>
        </div>
    </div>
</div>