<!-- 2. SECCIÓN: DOCUMENTACIÓN -->
    <div id="documentacion-section" class="section">
      <div class="section-header"><button class="back-button">← Atrás</button></div>
      <h2>Documentación y Guía de Uso</h2>
      
      <div class="tabs-container docu-container">
        <div class="tab-buttons">
          <button class="tab-button active" data-tab="configuracion-principal">Primeros Pasos</button>
          <button class="tab-button" data-tab="guia-rapida">Guía de funcionalidades</button>
          <button class="tab-button" data-tab="errores-comunes">Errores Comunes</button>
          <button class="tab-button" data-tab="comentarios-adicionales">Comentarios</button>
        </div>
        
        <!-- Pestaña: Primeros Pasos -->
        <div id="configuracion-principal" class="tab-content active">
          <ol class="docu-accordion">

            <!-- Paso 1 -->
            <li class="docu-accordion-item">
              <div class="docu-accordion-header">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle; margin-right: 8px;"><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                  <strong>Paso 1: Configurar la Aplicación en Marketing Cloud</strong>
                </span>
              </div>
              <div class="docu-accordion-content">
                <div class="docu-list">
                  <ul>
                    <li>Ve a <b>Setup → Apps → Installed Packages</b>.</li>
                    <li>Crea un nuevo paquete de tipo <b>Web App</b> llamado <b>MC API Helper</b>.</li>
                    <li>El **Redirect URI** debe ser exactamente: <code>https://127.0.0.1:8443/callback</code>.</li>
                    <li>En el componente de API, asigna estos permisos:
                      <ul class="docu-permissions">
                        <li><b>Email:</b> Read, Write</li>
                        <li><b>Automations:</b> Read, Write, Execute</li>
                        <li><b>Journeys:</b> Read, Write, Activate/Stop/Pause/Resume/Send/Schedule, Delete</li>
                        <li><b>Audiences:</b> Read, Write</li>
                        <li><b>List and Subscribers:</b> Read, Write</li>
                        <li><b>Data Extensions:</b> Read, Write</li>
                        <li><b>Documents and Images:</b> Read</li>
                        <li><b>Saved Content:</b> Read</li>
                      </ul>
                    </li>
                     <li>En el usuario que va a conectarse, en Permissions: Email > Content > Email > View</li>
                    <div class="docu-callout info">
                      <b>IMPORTANTE:</b> La aplicación en Marketing Cloud puede tardar hasta 10 minutos en estar completamente operativa después de guardarla.
                    </div>
                  </ul>
                </div>
              </div>
            </li>

            <!-- Paso 2 -->
            <li class="docu-accordion-item">
              <div class="docu-accordion-header">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle; margin-right: 8px;"><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M9 7h1" /><path d="M9 13h6" /><path d="M9 17h6" /></svg>
                  <strong>Paso 2: Configurar un Cliente en esta App</strong>
                </span>
              </div>
              <div class="docu-accordion-content">
                <div class="docu-list">
                  <ul>
                    <li>Ve a la vista de <b>Configuración de APIs</b>.</li>
                    <li>Introduce un nombre para el cliente (ej: "Cliente X - Producción").</li>
                    <li>Rellena los datos (MID, Auth URI, Client ID, etc.) obtenidos del paso anterior.</li>
                    <li>Pulsa <b>"Login"</b> para guardar e iniciar la sesión. Se abrirá una ventana de Salesforce para que te autentiques.</li>
                    <li>En la parte inferior se pueden configurar las tablas sobre las que lanzar la búsqueda de clientes. Se debe indicar el nombre de la tabla, su External Key y el nombre del campo por el que buscar al cliente</li>
                    <li>Pulsa <b>"Guardar"</b>. La configuración quedará almacenada en tu equipo. Esto principalmente es para la parte de las tablas.</li>
                  </ul>
                </div>
              </div>
            </li>

             <!-- Paso 3 -->
            <li class="docu-accordion-item">
              <div class="docu-accordion-header">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle; margin-right: 8px;"><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M9 7h1" /><path d="M9 13h6" /><path d="M9 17h6" /></svg>
                  <strong>Log de Eventos</strong>
                </span>
              </div>
              <div class="docu-accordion-content">
                <div class="docu-list">
                  <ul>
                    <li>El panel lateral derecho se puede colapsar.</li>
                    <li>El bloque <b>Mensajes</b> muestra los procesos ejecutados y los posibles errores que se hayan podido dar al realizar una acción.</li>
                    <li>El bloque <b>Llamada API</b>, muestra todas las llamadas que se han hecho al realizar una acción con el endpoint y el payload.</li>
                    <li>El bloque <b>Respuesta API</b>Respuesta API, muestra todas las respuestas que se han recibido al realizar una acción.</li>
                  </ul>
                </div>
              </div>
            </li>

          </ol>
        </div>

        <!-- Pestaña: Guía Rápida (Versión Acordeón) -->
        <div id="guia-rapida" class="tab-content">
          <ol class="docu-accordion">

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
            <span>Creación de Data Extensions</span>
            </div>
            <div class="docu-accordion-content">
            <div class="docu-list"> <!-- Envolvemos en .docu-list para mantener estilos -->
              <p>Este flujo te permite crear una Data Extensions.</p>
              <ol>
              <li><b>Configuración:</b>
                <ul>
                <li>Ve a <b>Data Extensions → Creación de Data Extension</b> para definir el Nombre, la Descripción y si es "Sendable".</li>
                <li>Puedes incluir el identificador de una carpeta para que se cree donde quieras. Si no se indica, se crea en la carpeta <b>Data Extensions</b>.</li>
                <li>Ve a <b>Data Extensions → Configuración de Campos</b> para añadir los campos.</li> 
                <li>Puedes hacerlo con:
                  <ul style="margin-top: 10px;">	
                      <li><b>Añadir Fila:</b> Añade filas para configurar campos manualmente. Puedes elminar la fila seleccionandola y pulsando en el botón que aparece a la derecha.</li>	
                      <li><b>Campos de Ejemplo:</b> Mete un campo de cada tipo</li>							
                      <li><b>Importar:</b> Permite pegar desde el portapapeles, indicando que separador utilizar.</li>							
                    </ul>                
                </li>
                <li>Finalmente, pulsa <b>"Crear Data Extension"</b> en la primera pantalla.</li>
                </ul>
              </li>
            </div>
            </div>
          </li>
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
            <span>Modificar o Añadir Campos a una DE Existente</span>
            </div>
            <div class="docu-accordion-content">
            <div class="docu-list"> <!-- Envolvemos en .docu-list para mantener estilos -->
              <p>Este flujo te permite crear o actualizar campos en una Data Extension.</p>
              <ol>            
              <li><b>Configuración:</b>
                <ul>
                <li>Ve a <b>Data Extensions → Recuperación y Borrado de Campos</b>.</li>
                <li>Introduce la <b>External Key</b> de la DE y pulsa <b>"Recuperar Campos"</b>.</li>
                <li>La estructura se cargará en la vista de <b>Configuración de Campos</b>. Añade las filas nuevas que necesites.</li>
                <li>Pulsa <b>"Crear/Actualizar Campos"</b> para aplicar los cambios (esta acción no borra campos).</li>
                </ul>
              </li>
              </ol>
            </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
            <span>Borrar campos a una DE Existente</span>
            </div>
            <div class="docu-accordion-content">
            <div class="docu-list"> <!-- Envolvemos en .docu-list para mantener estilos -->
              <p>Este flujo te permite borrar un campo en una Data Extension. Esto no se puede hacer por pantalla si está en un grupo de atributos, pero sí por API</p>
              <ol>    
              <li><b>Configuración:</b>
                <ul>
                  <li>En la misma vista de <b>Recuperación y Borrado de Campos</b>, introduce la <b>External Key</b> de la DE y pulsa <b>"Recuperar Campos"</b></li>
                  <li>La estructura se cargará en la vista de <b>Configuración de Campos</b> y en la <b>picklist</b>.</li>
                  <li>Selecciona un campo en la picklist y pulsa <b>"Borrar Campo"</b> para eliminarlo.</li>
                </ul>
              </li>
              </ol>
            </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
            <span>Documentar Data Extensions</span>
            </div>
            <div class="docu-accordion-content">
            <div class="docu-list"> <!-- Envolvemos en .docu-list para mantener estilos -->
              <p>Este flujo te permite generar un csv con las Data Extensions de una carpeta. Util cuando hay que reivsar una nueva instancia</p>
              <ol>    
              <li><b>Configuración:</b>
                <ul>
                  <li>En la misma vista de <b>Recuperación y Borrado de Campos</b>, introduce el <b>ID numérico</b> de una carpeta.</li>
                  <li>Pulsa <b>"Documentar Data Extensions"</b>. La aplicación generará y descargará un fichero CSV con todas las DEs de esa carpeta y la estructura completa de sus campos.</li>
                </ul>
              </li>
              </ol>
            </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
            <span>Calendario de Automatizaciones</span>
            </div>
            <div class="docu-accordion-content">
            <div class="docu-list">
              <p>Una vista para visualizar los automatismos programados o los automatismos programados que lanzan journeys.</p>
              <ul>
                <li><b>Refrescar Automatismos:</b> Pulsa este botón para cargar <b>todas</b> las automatizaciones programadas en el calendario.</li>
                <li><b>Refrescar Automatismos de Journeys:</b> Pulsa este botón para cargar únicamente las automatizaciones que contienen una actividad de Journey.</li>
                <li><b>Navegación:</b> Haz clic en un día del calendario que esté resaltado. La lista de la derecha se actualizará con las ejecuciones de ese día. Si haces clic en el título de esa lista <b>"Automatizaciones del Día"</b>, serás redirigido a la vista de  <b>"Gestión de Automatismos"</b>, pre-filtrada para mostrar solo las de ese día.</li>
              </ul>
            </div>
            </div>
          </li>
          
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Gestión de Automatismos</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control para visualizar, filtrar y ejecutar acciones sobre múltiples automatismos a la vez.</p>
                <ul>
                  <li>Al entrar por primera vez, se recuperarán y cargarán todos los automatismos de la instancia</li>
                  <li>Es posible filtrar por <b>Nombre</b> y <b>Estado</b> de los automatismos</li>
                  <li>La tabla permite seleccionar más de un automatismo. Volviendo a clicar, se deselecciona.</li>
                  <li><b>Lanzar acciones.</b> Si se selecciona más de un automatismo, solo se pueden lanzar acciones si todos los automatismos seleccionados tienen el <b>mismo estado</b>.						
                    <ul style="margin-top: 10px;">	
                      <li><b>Refrescar:</b> Refresca el listado completo de automatismos. Esto se hace automáticamente al realizar cualquier acción.</li>	
                      <li><b>Activar:</b> Pone en marcha la programación de los automatismos seleccionados. Solo se habilita para automatismos en estado <i>"PausedSchedule"</i> o <i>"Stopped"</i>.</li>							
                      <li><b>Ejecutar:</b> Lanza una ejecución única e inmediata de los automatismos seleccionados. Solo se habilita para automatismos en estado <i>"PausedSchedule"</i> o <i>"Stopped"</i>.</li>							
                      <li><b>Parar:</b> Detiene la programación de los automatismos seleccionados. Solo se habilita para automatismos en estado <i>"Scheduled"</i> o <i>"Ready"</i>.</li>			
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Clonador de Automatismo</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Una herramienta para clonar un automatismo y sus actividades.</p>
                <ul>
                  <li>Ve a <b>Gestión de Automatismos</b>.</li>
                  <li>Selecciona el automatismo que quieres clonar.</li>
                  <li>Se mostrará una nueva vista donde se puede:</li>
                    <ul style="margin-top: 10px;">	
                        <li>Indicar el nombre del automatismo clonado. Por defecto se clona con <em>_Copy</em></li>	
                        <li>Seleccionar qué actividades se quieren clonar. Por ahora solo se clonan las Queries para las que se puede indicar el nombre de la Query copiada y la de la Data Extension</li>	
                    </ul>
                  <li>Todos los elementos se guardan en la misma carpeta donde estaban los originales.</li>
                  <li>Despues de seleccionar qué elementos clonar, pulsa en el botón de <em>Clonar</em> para ejecutar la clonación.</li>
                </ul>
              </div>
            </div>
          </li>
          
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Gestión de Journeys</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control para visualizar, filtrar y ejecutar acciones sobre múltiples journeys a la vez.</p>
                <ul>
                  <li>Al entrar por primera vez, se recuperarán y cargarán todos los journeys de la instancia</li>
                  <li>Es posible filtrar por <b>Nombre</b>, <b>Tipo</b>, <b>Estado</b> y <b>Data Extension</b> de los automatismos</li>
                  <li>La tabla muestra la información principal del Journey, donde se encuentra y que Data Extension se encuentra en su entrada.</li>
                  <li><b>Lanzar acciones.</b> En funcion de la acción que se quiera realizar, se podrá seleccionar uno o varios journeys</b>.						
                    <ul style="margin-top: 10px;">							
                      <li><b>Refrescar:</b> Refresca el listado completo de automatismos. Esto se hace automáticamente al realizar cualquier acción.</li>
                      <li><b>Comunicaciones:</b> Recupera todas las comunicaciones de los Journeys seleccionados. Lo que se muestra es el nombre de la actividad en el Journey por lo que si se ha cambiado, no coincidirá con el contenido.</li>							
                      <li><b>Dibujar:</b> Permite crear una versión de texto del Journey de cara a la documentación. Es necesario haber recuperado las comunicaciones previamente, lo cual marca el Journey como Descargado</li>		
                      <li><b>Copiar:</b> Permite clonar un Journey, con toda su estructura y clona la Data Extension de entrada en la misma carpeta donde se encontrará la anterior. Por ahora solo para los de tipo <b>"EmailAudience"</b>.</li>			
                      <li><b>Parar:</b> Permite parar varios Journeys a la vez</li>		
                      <li><b>Borrar:</b> Permite borrar varios Journeys a la vez, si son de Subtipo Quicksend</li>							
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Buscador de Data Extensions</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control buscar rutas de Data Extensions.</p>
                <ul>
                  <li>Selecciona por qué quieres buscar: Nombre o External Key</li>
                  <li>No es necesario indicar el nombre completo, se mostrarán las rutas de todas las Data Extension que contengan el texto indicado</li>
                  <li>Al pulsar en <b>Buscar</b>, se mostrarán las rutas en la tabla inferior</li>					
                </ul>
              </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Buscador de Origen de Datos</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control para buscar qué actividades rellenan los datos de una Data Extension (Queries e Imports).</p>
                <ul>
                  <li>Indica el nombre exacto de la Data Extension y pulsa en <b>Buscar Orígenes</b>.</li>
                  <li>Se mostrarán las actividades, el tipo y, si se encuentran dentro de una automatismo, en qué paso.</li>				
                </ul>
              </div>
            </div>
          </li>
          
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Buscador de Clientes</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control para buscar clientes y su información relacionada.</p>
                <ul>
                  <li>Pon el valor por el que quieres buscar. Puede ser un identificador o el mail.</li>
                  <li>Pulsa en <b>Buscar Cliente</b> para empezar la búsqueda.</li>
                  <li>Se realizará una búsqueda por Subscriber y si no se encuentra se buscara por Contacto.</li>
                  <li>Si se ha encontrado un suscriptor, los botones <b>DEs</b> y <b>Journeys</b> estarán activos</b>.
                  <li>Si se ha encontrado un contacto, el botón <b>Journeys</b> estará activo</b>.					
                    <ul style="margin-top: 10px;">							
                      <li><b>DEs:</b> Buscará lo que se haya indicado en el formulario en todas las DEs configuradas a nivel de Configuración de APIs del cliente al que se ha conectado. Se muestran todos los campos de la tabla</li>
                      <li><b>Journeys:</b> Buscará lo que se haya indicado en el formulario en todos los Journeys. Si se encuentra en ese momento en alguno, lo mostrará en un tabla</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Buscador de Texto en Queries</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control para buscar Queries que contengan el texto indicado en el buscado.</p>
                <ul>
                  <li>Pon el valor por el que quieres buscar. Puede ser un identificador o el mail.</li>
                  <li>Pulsa en <b>Buscar en Queries</b> para empezar la búsqueda.</li>
                  <li>La tabla muestra el nombre de las queries encontradas y en qué automatismo y paso se encuentran, si es que está en alguno.</li>
                  <li>La columna de Query Text se puede ocultar/mostrar con la casilla del formulario.</li>					
                </ul>
              </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
            <span>Clonador Masivo de Queries</span>
            </div>
            <div class="docu-accordion-content">
            <div class="docu-list">
              <p>Esta herramienta te permite clonar múltiples Query Activities y sus Data Extensions de destino entre carpetas.</p>
              <ol>
              <li><b>Paso 1: Configuración de Carpetas</b>
                <ul>
                  <li>Ve a <b>Funcionalidades → Clonador de Queries</b>.</li>
                  <li>Introduce el nombre (o parte del nombre) de tres carpetas: la de origen de las Queries, la de destino de las Queries clonadas y la de destino de las DEs clonadas.</li>
                  <li>Pulsa <b>"Buscar Carpetas"</b>. Se mostrarán tablas con las posibles rutas encontradas.</li>
                  <li>Selecciona <b>una ruta de cada una de las tres tablas</b>. El botón <b>"Continuar"</b> se habilitará.</li>
                </ul>
              </li>
              <li><b>Paso 2: Selección y Clonación</b>
                <ul>
                  <li>Verás una lista de todas las Queries de la carpeta de origen.</li>
                  <li>Usa las casillas de verificación para seleccionar las que quieres clonar.</li>
                  <li>Puedes modificar el nombre de las DEs y Queries que se van a crear. Si no, se crearán añadiendo el sufijo `_Copy.</li>
                  <li>Pulsa <b>"Clonar Seleccionadas"</b>. La aplicación clonará cada query y su DE de destino a las carpetas que elegiste.</li>
                </ul>
              </li>
              </ol>
            </div>
            </div>
          </li>
          
          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Validador de Email</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Una herramienta sencilla para verificar la validez de una dirección de correo con los validadores que utiliza Marketing Cloud.</p>
                <ul>
                  <li>Ve a <b>Funcionalidades → Validador de Email</b>.</li>
                  <li>Introduce la dirección de correo y pulsa <b>"Validar Email"</b>.</li>
                  <li>El resultado te indicará si el email es válido según las validaciones de sintaxis, registros MX y List Detective de Marketing Cloud.</li>
                </ul>
              </div>
            </div>
          </li>

          <li class="docu-accordion-item">
            <div class="docu-accordion-header">
              <span>Gestión de Cloud Pages</span>
            </div>
            <div class="docu-accordion-content">
              <div class="docu-list">
                <p>Panel de control para visualizar y filtrar Cloud Pages.</p>
                <ul>
                  <li>Ve a <b>Funcionalidades → Gestión de Cloud Pages</b>.</li>
                  <li>Se cargará la tabla con todas las Cloud Pages de la instancia.</li>
                  <li><b>Importante:</b> no es posible recuperar el identificador real (el que se utiliza en CloudPageURL()) porque ninguna API lo devuelve. 🤷🏻</li>
                </ul>
              </div>
            </div>
          </li>

          </ol>
        </div>

        <!-- Pestaña: Errores Comunes -->
        <div id="errores-comunes" class="tab-content">
          <ul class="docu-list">
            <li>
              <div class="docu-item-header">
                <span class="docu-icon warning">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 9v4" /><path d="M10.36 15.64a2 2 0 1 1 3.28 0" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
                </span>
                <strong>Error de autenticación</strong>
              </div>
              <p>Si se ha creado la aplicación en MC, se ha configurado el usuario en Marketing Cloud API Helper y luego se cambian los permisos en la aplicación de MC, lo mejor es deslogearse y volverse a logear para que recupere el token con los permisos correctos.</p>
            </li>
            <li>
              <div class="docu-item-header">
                <span class="docu-icon warning">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 9v4" /><path d="M10.36 15.64a2 2 0 1 1 3.28 0" /><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
                </span>
                <strong>La DE se crea en la carpeta raíz</strong>
              </div>
              <p>Para crear una DE en una carpeta específica, debes usar su <b>ID numérico</b>, no su nombre. Lo mismo ocurre para documentar las Data Extensions de una carpeta</p>
            </li>
          </ul>
        </div>
        
        <!-- Pestaña: Comentarios Adicionales -->
        <div id="comentarios-adicionales" class="tab-content">
          <ul class="docu-list">            
            <li>
              <div class="docu-item-header">
                <span class="docu-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 12l5 5l10 -10" /><path d="M2 12l5 5m5 -5l5 -5" /></svg>
                </span>
                <strong>"Crear/Actualizar campos" es un "upsert"</strong>
              </div>
              <p>Esta acción actualiza campos que ya existen o crea los que son nuevos, sin borrar los que no están en la tabla.</p>
            </li>
            <li>
              <div class="docu-item-header">
                <span class="docu-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-decimal" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 15h-5a2 2 0 1 0 0 4h5" /><path d="M12 11v8" /><path d="M8 10h.01" /></svg>
                </span>
                <strong>Longitud en campos Decimales</strong>
              </div>
              <p>Para campos de tipo Decimal, usa el formato "total_dígitos,número_decimales", por ejemplo, <code>18,2</code>.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>