<!-- 5. SECCIÓN: CAMPOS DE LA DATA EXTENSION -->
<div id="campos-section" class="section">
    <div class="section-header">
        <button class="back-button">← Atrás</button>
        <div class="header-actions">
            <button id="importFieldsBtn" class="action-button">Importar</button>                
            <button id="createFieldsBtn" class="action-button activate-btn">Crear/Actualizar Campos</button>
            <button id="createDummyFieldsBtn" class="action-button">Campos de Ejemplo</button>                
            <button id="clearFieldsBtn" class="action-button delete-btn">Limpiar Tabla</button>
        </div>
    </div>
    <h2>Campos de la Data Extension</h2>
    <div class="table-container">
        <table id="myTable" class="editable-row-table">
        <thead>
            <tr><th>Campo MC</th><th>Tipo Campo</th><th>Longitud</th><th>Default</th><th>PK</th><th>Requerido</th></tr>
        </thead>
        <tbody></tbody>
        </table>
        <!-- Botones para mover filas seleccionadas -->
        <div class="control-buttons">
        <button id="addFieldBtn" class="action-button">Añadir Fila</button>
        <button id="moveUp" title="Mover fila seleccionada hacia arriba">▲</button>
        <button id="moveDown" title="Mover fila seleccionada hacia abajo">▼</button>
        </div>
    </div>
</div>