<!-- 1. PANTALLA DE BIENVENIDA (MENÚ PRINCIPAL) -->
<div id="main-menu" class="main-menu-container" style="display: flex;">
    <div class="menu-group">
    <h3>Panel Principal</h3>
    <div class="menu-buttons-container">
        <img src="assets/welcome2.gif" alt="Animación de bienvenida" class="welcome-gif">
        <p class="info-text">
        Para empezar, configura un cliente en "Configuración de APIs". Al pulsar en login (o seleccionándolo si ya estaba guardado) se iniciará el proceso de autenticación.
        </p>
        
    </div>
    </div>
</div>